body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: auto;
    margin: 10px;
    
  }
  
  .container{
    display: grid;
    grid-template-columns: auto 270px;
    gap: 10px;
  }
  
  #text-input {
    width: 98%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .keyboard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .row {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 5px;
  }
  
  .key {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 3vw;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 2px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s;
    text-align: center;
  }
  
  .key:hover {
    background-color: #ddd;
  }
  
  .key:active {
    background-color: #ccc;
  }
  
  .backspace, .tab, .caps, .enter, .shift, .ctrl, .alt, .win, .menu, .space {
    background-color: #ccc;
  }
  .caps, .enter{
    width: 8vw;
  }

  .tab{
    width: 6vw;
  }

  .slace{
    width: 5vw;
  }
  .backspace{
    width: 8vw;
  }
  
  .space {
    width: 23vw;
  }

  .shift{
    width: 10.5vw;
  }
 

  .numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 3px; */
  }

  .plus, .num-enter{
    grid-row: span 2;
  }

  .zero{
    grid-column: span 2;
    width: 8.3vw;
  }



  @media (max-width: 680px){
    .key {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 12px;
      }
  }

  @media (max-width: 500px){
    .key {
        border-radius: 3px;
        padding: 2px 5px;
        font-size: 8px;
      }
  }