*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 20px;
    width: 100vw;
    height: 60vh;
    display: flex;
    background-color: blue;
}

.keyboard{
    width: 65%;
    height: 100%;
    background-color: red;
}

.row{
    width: 100%;
    height: 40px;
    display: flex;
    /* border: 5px solid black; */
}

.key{
    width:7.14%;
    height: 100%;
    border: 1px solid green;
    margin: 10px 10px;
    border-radius: 5px;
    background-color: blanchedalmond;
}

.Backspace{
    width: 12vw;
}